.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/hg38_gene_info.rds
data-raw/hg19_gene_info.rds

test-workflow/result/
test-workflow/output*
tests/__pycache__
test/
data-raw/rmsk_hg19.bed
data-raw/rmsk_hg38.bed
