.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/hg38_gene_info.rds
data-raw/hg19_gene_info.rds

test-workflow/result/
test-workflow/output*
tests/__pycache__
test/
data-raw/rmsk_hg19.bed
data-raw/rmsk_hg38.bed
inst/.DS_Store
*.DS_Store
.vscode
data-raw/HOM_MouseHumanSequence.rpt.txt
data-raw/human-mouse-id-map.rds
data-raw/human_hg38_gene_info.rds
data-raw/mouse_mm10_gene_info.rds
